<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5">

  <p class="text-center mb-5">
    <a href="/">
      <img src="/images/logo-text.png" class="img-fluid w-50" alt="{{title}}">
    </a>
  </p>

  <div class="card card-bt-blue">
    <div class="card-body">

      <h1 class="h4 text-center mt-3 mb-4">
        Password reset email is on its way
      </h1>

      <div class="text-success text-md text-center mb-5" role="alert">
        Watch out buddy, there’s an high speed email arriving your inbox!
      </div>

      <p>
        The email contains a link to reset your password.
      </p>
      <p>
        Click this link and you’ll be redirected to our website where you’ll finally change your password :)
      </p>
      <p>
        Please check your email inbox.
      </p>
      <p class="text-md mt-5">
        <a href="/">« Back to the startpage</a>
      </p>
    </div>
  </div>
</div>
