<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  <div class="card card-bt-blue">
    <div class="card-body">

      <h1 class="h4 text-center mt-3 mb-4">
        Password reset successful
      </h1>

      <div class="alert alert-success text-center text-md mt-5 mb-5">
        Awesome, you’ve successfully updated your password.
      </div>

      <p>
        You’re yourself again!
      </p>
      <p>
        Have a look at your
        <a href="/profile">profile settings</a> and update if necessary.
      </p>

    </div>
  </div>
</div>
