<div class="columns content">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title has-text-weight-bold">
            <img src="/images/eye-off.svg" alt=""> 404!
        </h1>
        <p class="subtitle">
            This resource isn’t available yet.
        </p>
    </div>
</div>