<div class="columns content">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title">
      <img src="/images/check-circle.svg" alt="">
      Password reset successful
    </h1>

    <hr>

    <div class="notification is-success">
      <p>
        Awesome, you’ve successfully updated your password.
      </p>
    </div>

    <p>
      Now that you’re yourself again, check if <a href="/profile">your profile </a> data is correct.
    </p>

  </div>
</div>
