<div class="col-12 justify-content-center align-self-center">
    <img class="img-fluid w-50 mx-auto d-none d-md-block" src="/images/logo-text.png" alt="{{title}}">
    <img class="img-fluid w-100 mx-auto d-block d-md-none" src="/images/logo-text.png" alt="{{title}}">

    <div class="mt-4 text-center">
        <h2 class="h5 mb-4 font-weight-bold">It works!</h2>
        <a href="https://superchargejs.com/docs" class="btn btn-primary">Make your first
            steps</a>
    </div>
</div>
