{{!-- Center navbar: this will be put in in the middle the navbar --}}
{{#if user}}
    <li class="nav-item">
        <a class="nav-link {{setActive "/home"}}" href="/home">
            Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
{{/if}}
