<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1 class="text-center">
        404!
    </h1>
    <p class="lead text-center">
        Sorry, this resource isn’t available. Yet ;-)
    </p>

</div>
</div>
