<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/aperture.svg" alt="Boost"> &nbsp; Boost
            </a>

            <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
            <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
            <button class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        {{> header-nav }}

    </div>
</nav>