<div class="navbar-menu" id="navbarMenu">
    <div class="navbar-start">
        {{!-- <a class="navbar-item" href="/route">
            Link
        </a> --}}

    </div>

    <div class="navbar-end">
        {{#if user}}
            <div class="navbar-item has-dropdown is-hoverable">

                <a class="navbar-link" href="/profile">
                    <figure class="image is-16x16" style="margin-right: 8px;">
                        <img src="{{user.gravatar}}">
                    </figure>
                    Profile
                </a>
                <div class="navbar-dropdown is-boxed is-right">
                    <a href="/profile" class="navbar-item">
                        <p>
                            <figure class="image is-16x16" style="margin-right: 14px;">
                                <img src="/images/user-check.svg" alt="">
                            </figure>
                        </p>
                        <p>
                            <strong>Profile</strong>
                            <br>
                            <small>
                                Check and update your profile
                                <br> settings
                            </small>
                        </p>
                    </a>
                    {{!-- <hr class="navbar-divider"> --}}
                </div>
            </div>
            <a class="navbar-item" href="/logout">
                <figure class="image is-16x16" style="margin-right: 8px;">
                    {{#if isHero}}
                        <img src="/images/log-out-white.svg" alt="">
                    {{else}}
                        <img src="/images/log-out.svg" alt="">
                    {{/if}}
                </figure>
                Logout
            </a>
        {{else}}
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-primary" href="/signup">
                            Sign up
                        </a>
                    </p>
                    <a class="button" href="/login">
                        <figure class="image is-16x16" style="margin-right: 8px;">
                            <img src="/images/log-in.svg" alt="">
                        </figure>
                        Log in
                    </a>
                </div>
            </div>
        {{/if}}

    </div>
</div>