<!DOCTYPE html>
<html>

<head>
    {{> layout/head }}

    {{#stack 'css'}}
        <link rel="stylesheet" href="/css/style.css">
    {{/stack}}

    {{{ vite "resources/js/app.js" "resources/css/app.css" }}}
</head>

<body class="bg-pattern">

    {{> header }}

    <div class="container mb-5" role="main">
        <div class="row">
            {{{ content }}}
        </div>
    </div>

    {{> footer }}

</body>

</html>
