<!DOCTYPE html>
<html>

<head>
    {{> layout/head}}

    {{#stack 'css'}}
        <link rel="stylesheet" href="/css/style.css">
    {{/stack}}
</head>

<body class="bg-pattern">

    <div class="container" role="main">
        <div class="row h-100vh">
            {{{ content }}}
        </div>
    </div>

</body>

</html>
