<!DOCTYPE html>
<html>

    <head>
        <title>{{title}}</title>

        <link rel="icon" href="/images/aperture.png">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        {{{ content }}} {{> footer }}

    </body>

</html>